header {
  margin: 15px 100px 25px 100px;
  padding: 10px;
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  );
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

footer {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 1.15rem;
}

#pomodoro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 20px;
}

.control,
.display {
  display: grid;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 40px;
  font-weight: bold;
  text-align: center;
}

.display {
  min-width: 250px;
}

.disp-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#start_stop {
  color: rgb(0, 140, 255);
  padding-right: 5px;
}

#start_stop:hover {
  color: rgb(0, 60, 255);
}

#start_stop:active {
  color: rgb(60, 255, 0);
}

#reset {
  color: rgb(255, 67, 42);
}

#reset:hover {
  color: rgb(255, 17, 0);
}

#reset:active {
  color: rgb(60, 255, 0);
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  max-width: 50px;
  justify-self: center;
}

.control > button:nth-child(3) {
  color: rgb(0, 140, 255);
  padding-bottom: 5px;
}

.control > button:nth-child(3):hover {
  color: rgb(0, 60, 255);
}

.control > button:nth-child(3):active {
  color: rgb(60, 255, 0);
}

.control > button:nth-child(4) {
  color: rgb(255, 67, 42);
}

.control > button:nth-child(4):hover {
  color: rgb(255, 17, 0);
}

.control > button:nth-child(4):active {
  color: rgb(60, 255, 0);
}

/* Phone */
@media screen and (max-width: 450px) {
  header {
    margin: 10px;
    font-size: 1rem;
  }

  footer {
    margin-top: 0px;
    font-size: 0.8rem;
  }

  #pomodoro {
    flex-direction: column;
  }

  .control,
  .display {
    padding: 15px;
    margin: 2px;
  }

  .display {
    min-width: 50px;
  }
}
